.timeline-note {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease; /* Ajoutez une transition pour une animation plus fluide */
}

.timeline-note:hover {
    transform: translateY(-3px); /* Ajoutez une translation vers le haut au survol */
    cursor: pointer;
}

.timeline-space{
    background-color: var(--surface-50);
    height: 100%;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.timeline-space:hover {
    background-color: var(--surface-200);
    cursor: pointer;
}

