.p-splitter-panel{
    background-color: var(--highlight-bg);
}

.header-logo {
    display: flex;
    justify-content: space-between;
    height: 34px;
    background: linear-gradient(0deg, var(--primary-800) -13900%, var(--primary-800) 0%, var(--primary-500) 10%, var(--primary-600) 100%, var(--primary-100) 1015%, var(--primary-100) 5615%);
}

.header-logo img{
    height: 100%;
}

.header-logo .p-tabmenu.p-component {
    height: 34px;
}

.header-logo .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background: 0%;
}

.header-logo .p-tabmenu .p-tabmenu-nav {
    height: 34px;
    background: var(--highlight-bg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-logo .p-tabmenuitem.p-highlight {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--primary-50);
}

