.timeline-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}
.play-duration{
    height: 20px;
    width: 40px;
}
.p-knob{
    width: 60px;
    height: 60px;
}
svg{
    width: 60px;
    height: 60px;
}
