
.synth-config-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.knob-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.knob-text-combo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.synth-config-tab .selection-forme-onde{
    min-width: 176px;
}
.wave-logo {
    height: 18px;
    width: 18px;
    display: inline-block;
}
.choix-dropdown{
    display: flex;
    align-items: center;
}
.choix-dropdown .wave-logo{
    margin-right: 10px;
}
